# B L A C K L I S T 

# Before asking, all to Blacklist
/*


# W H I T E L I S T 

# Git
!.gitignore

# Shell
!.bashrc
!.zshrc
!.aliashrc
!.exports

# Neovim
!.config/nvim/init.vim
!.config/nvim/mapping.vim
!.config/nvim/indents.vim
!.config/nvim/general.vim
!.config/nvim/darcula.vim

# Kitty
!.config/kitty/kitty.conf

# Qtile
!.config/qtile/config.py

# Emacs
!.emacs

# Binaries
!.bin/

# Pictures
!Pictures/screenshot_1.png
!Pictures/screenshot_2.png
!Pictures/screenshot_3.png
!Pictures/screenshot_4.png
!Pictures/screenshot_5.png
