/*


!.gitignore
!.bashrc
!.zshrc
!.aliashrc

!.config/
.config/*
!.config/nvim
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/mapping.vim
!.config/nvim/indents.vim
!.config/nvim/general.vim
!.config/nvim/darcula.vim
