# B L A C K L I S T 

# Before asking, all to Blacklist
/*


# W H I T E L I S T 

# Git
!.gitignore

# Shell
!.bashrc
!.zshrc
!.aliashrc

# Configs
!.config/
.config/*

# Neovim
!.config/nvim
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/mapping.vim
!.config/nvim/indents.vim
!.config/nvim/general.vim
!.config/nvim/darcula.vim

# Kitty
!.config/kitty
.config/kitty/*
!.config/kitty/kitty.conf

# Emacs
.emacs
